.full-width {
  width: 100%;
}
.table-wrapper {
  width: 100%;
}
.table-wrapper > div {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: clamp(10px, 2vw, 40px);
  gap: clamp(5px, 1vw, 20px);
  grid-template-rows: auto;
  justify-items: stretch;
  align-items: stretch;
  display: grid;
}
.table-wrapper table {
  display: contents;
}
.table-wrapper tbody {
  display: contents;
}
.table-wrapper tr {
  justify-items: stretch;
  align-items: stretch;
  display: grid;
  height: 100%;
  width: 100%;
}
.table-wrapper > div:last-child tr {
  grid-template-columns: 1fr 1fr;
}
.table-wrapper > div:last-child tr:nth-child(2n) {
  grid-template-columns: 1fr;
  grid-column-end: -1;
}
.table-wrapper td {
  display: contents;
}
.table-wrapper td input[type=text] {
  font-size: 1em;
}
.loading-wrapper {
  display: grid;
  position: relative;
  grid-template-columns: minmax(30vw, 300px);
  align-content: space-evenly;
  grid-template-rows: auto;
  justify-items: stretch;
  align-items: center;
}
.loading-wrapper > .loading, 
.loading-wrapper > .loaded {
  background:
    linear-gradient(to right, transparent, rgb(140,44,0), transparent),
    url("noise.svg");
  filter: contrast(200%) brightness(400%);
  background-size: 200% auto;
	image-rendering: pixelated;
  pointer-events: none;
	border-radius: 1em;
  text-align: center;
	opacity: 0.666;
}
.loading-wrapper > .loaded {
  background-position: 50% 0%;
  color: white;
}
.loading-wrapper > .loading {
  -webkit-animation: Animation 4s linear infinite;
  -moz-animation: Animation 4s linear infinite;
  animation: Animation 4s linear infinite;
}
@-webkit-keyframes Animation {
    0%{background-position:0% 0%; color: black}
    30%{background-position:60% 0%; color: white}
    50%{background-position:100% 0%; color: black}
    70%{background-position:140% 0%; color: black}
    100%{background-position:200% 0%; color: black}
}
@-moz-keyframes Animation {
    0%{background-position:0% 0%; color: black}
    30%{background-position:60% 0%; color: white}
    50%{background-position:100% 0%; color: black}
    70%{background-position:140% 0%; color: black}
    100%{background-position:200% 0%; color: black}
}
@keyframes Animation { 
    0%{background-position:0% 0%; color: black}
    30%{background-position:60% 0%; color: white}
    50%{background-position:100% 0%; color: black}
    70%{background-position:140% 0%; color: black}
    100%{background-position:200% 0%; color: black}
}
.scroll-wrapper {
  scroll-snap-type: y mandatory;
  justify-items: center;
  align-items: center;
  overflow: scroll;
  display: grid;
  height: 2.5em;
}
.scroll-wrapper > button {
  height: 2.5em;
  scroll-snap-align: center;
}
button.item {
  color: #631;
  border: none;
  font: inherit;
  display: block;
  outline: inherit;
  margin: 0.333em;
  text-align: center;
  border-radius: 0.333em;
  background-color: #fee0b6;
	border-bottom: 0.4em groove rgba(55, 55, 55, 0.125);
	border-right: 0.3em inset rgba(255, 255, 255, 0.5);
	border-top: 0.4em outset rgba(255, 255, 255, 0.5);
}
button.active.item {
	border-bottom: 0.4em inset rgba(255, 255, 255, 0.5);
	border-left: 0.3em groove rgba(55, 55, 55, 0.125);
	border-top: 0.4em groove rgba(55, 55, 55, 0.125);
	background-color: #fdb863;
	border-right: none;
  color: black;
}
