.bg-highlight {
  background-color: #9191c1;
}
.full-width {
  width: 100%;
}
.table-wrapper {
  width: 100%;
}
.table-wrapper > div {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: clamp(10px, 2vw, 40px);
  gap: clamp(5px, 1vw, 20px);
  grid-template-rows: auto;
  justify-items: stretch;
  align-items: stretch;
  display: grid;
}
.table-wrapper table {
  display: contents;
}
.table-wrapper tbody {
  display: contents;
}
.table-wrapper tr {
  grid-template-columns: 1fr;
  justify-items: stretch;
  align-items: stretch;
  display: grid;
  height: 100%;
  width: 100%;
}
.table-wrapper tr.r-end {
  grid-column-end: -1;
}
.table-wrapper tr.r-pair {
  grid-template-columns: auto auto;
}
.table-wrapper td {
  display: contents;
}
.scroll-wrapper {
  box-shadow: 0 0 0.25em 0.25em #cfcce5;
  scroll-snap-type: y mandatory;
  background-color: #cfcce5;
  justify-items: center;
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  align-items: center;
  position: relative;
  overflow: scroll;
  display: grid;
  height: 2.5em;
  width: 100%;
}
.scroll-wrapper > button {
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 2.5em;
  max-width: 100%;
  border-radius: 0px;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  scroll-snap-align: center;
}
.scroll-wrapper > button.item {
  color: #631;
  font-family: "Arial Narrow", Arial, sans-serif;
  background-color: transparent;
  box-shadow: none;
}
.scroll-wrapper > button.active.item {
  box-shadow: 0 0 0.25em 0.25em #9191c1;
  background-color: #9191c1;
  color: white;
}
.bg-highlight .scroll-wrapper > button.item {
  background-color: #fee0b6;
  box-shadow: 0 0 0.25em 0.25em #fee0b6;
}
.bg-highlight .scroll-wrapper > button.active.item {
  box-shadow: 0 0 0.25em 0.25em #fdb863;
  background-color: #fdb863;
  color: black;
}
.debug-wrapper {
  grid-template-columns: repeat(2, minmax(150px, 20vw));
  padding: clamp(10px, 2vw, 40px);
  gap: clamp(5px, 1vw, 20px);
  justify-items: center;
  align-items: center;
  grid-column: 2;
  display: grid;
}
td > div.text-input-wrapper {
  grid-template-columns: 1fr auto;
  justify-items: stretch;
  align-items: stretch;
  display: grid;
}
div.table-header {
  padding-bottom: 0;
}
div.table-header > h2 {
  margin-bottom: 0.2em;
}
.error-wrapper {
  font-family: "Arial Narrow", Arial, sans-serif;
}
.error-wrapper > div {
  background-color: #802010;
  grid-template-areas: 
        "body body body"
        "date time fault";
  padding: 0.5em;
  display: grid;
  color: white;
}
.error-wrapper > div > .a-body {
  grid-area: body;
}
.error-wrapper > div > .a-date {
  grid-area: date;
}
.error-wrapper > div > .a-time {
  grid-area: time;
}
.error-wrapper > div > .a-fault {
  grid-area: fault;
}
