.hidden {
  display: none;
}
.list-wrapper > .ol {
  margin-bottom: 0.333em;
}
.list-wrapper > .ol > div > *:first-child {
  font-size: 1.75em;
}
.list-wrapper > .ol > div {
  gap: 0.5em;
  display: grid;
  border-radius: 1em;
  align-items: center;
  justify-items: center;
  justify-content: start;
  grid-auto-flow: column;
  padding: 0.25em 0.5em;
  text-align: start;
  font-size: 0.5em;
  height: 100%;
}
.list-wrapper > .ol button {
  filter: drop-shadow(0 0 0.25em black);
  box-shadow: 1px 4px black;
  font-size: inherit;
}
.list-wrapper > .ol a {
  font-size: 1.1em;
}
.long-link {
  word-break: break-all;
  font-size: 0.5em;
}
.copier {
  cursor: pointer;
}
.container {
  display: grid;
  background: #f4fff4;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.1em;
  background-color: inherit;
  grid-template-columns: 1fr auto 1fr;
  justify-items: center;
  align-items: center;
  font-size: 1.75em;
}
.container > .contained {
  grid-template-columns: 1fr 5fr 1fr;
  background: rgba(0,0,0,0.5);
  justify-items: center;
  align-items: center;
  border-radius: 1em;
  display: grid;
  width: 100%;
  height: 100%;
  grid-column: 2;
}

.container > .contained > * {
  min-width: 300px;
  grid-column: 2;
}
